<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports Team Manager</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="display-flex align-center p-2">
    <h1 style="color: rgb(25, 36, 60);">
      Sports Team Manager
    </h1>
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
        {{#if is_admin}}
            <a href="/admin" class="btn">Create Team</a>
        {{/if}}
    </nav>
    {{/if}}

  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

 
</body>

</html>
