 <div class="container-sm container-fluid mt-5 d-flex flex-column">
  <h2 class="text-center pb-4" style="font-size: 2em;">Login</h2>

  <form class="login-form flex-column">
    <div class="form-group d-flex justify-content-between">
      <label for="email-login">Email:</label>
      <input class="form-input" type="text" id="email-login"/>
    </div>
    <div class="form-group">
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group text-center pt-4">
      <button id="login-btn" class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
</div> 
<script src="/js/login.js"></script>
